<%/*
  File name: COMP308-W2019-Midterm-300910535
  Author's name: Semy Jin
  Student ID: 300910535
  Web app name: Favourite Book List
  Heroku link: https://comp308w2019-midterm-300910535.herokuapp.com/ 
  */%>

<% include ../partials/header.ejs %>

<main class="container">
  <% if (messages.length > 0) { %>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
  <%} %>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1>Welcome to the Favourite Book List App</h1>
      <h3>Please login below</h3>
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Please Enter Username"
            required
            autofocus
          />
        </fieldset>
        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            autocomplete="off"
            placeholder="Please Enter Password"
            required
          />
          or
        <a href="/register">Register</a>
        </fieldset>
        <fieldset class="form-group text-right">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-check-square-o"></i> Login
          </button>
          <a href="/" class="btn btn-warning">
            <i class="fa fa-undo"></i> Cancel
          </a>
        </fieldset>
      </form>
    </div>
  </div>
</main>

<% include ../partials/footer.ejs %>
